@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 
font-family: "Urbanist", sans-serif;
font-family: "Inter", sans-serif;
*/

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --secondary: #12372A;
    --accent: #F1C30C;
    --secondary-light: rgba(18, 55, 42, 0.8);
    --creamcolor: #F1FFEA;
    --lightgray: #ECECEC;
    --beige: #FAF8EC;
}

body {
    margin: 0px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: var(--creamcolor);
}

h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 4rem;
    font-weight: 800;
    color: var(--accent);
}

h3 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 3.25rem;
    color: var(--secondary);
}

h4 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 1.563rem;
    color: var(--accent);
}

h5 {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--secondary);
}

h6 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--secondary);
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary);
}

nav {

    .navTop {
        background-color: var(--secondary);
        font-family: "Inter", sans-serif;
        height: 2.8rem;

        padding: 0px 3rem;

        .navContact {
            color: var(--primary);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .navContactInfo {
                display: flex;
                flex-direction: row;
                font-size: 1rem;
                gap: 2.5rem;

                .navContactItem {

                    img {
                        height: auto;
                        width: auto;
                        margin: 0;
                        margin-right: 0.7rem;
                        margin-bottom: 0.4rem;
                    }
                }
            }
            
            .navSocialMedia {
                display: flex;
                gap: 1.2rem;


                .navSocialMediaIcon {
                    display: flex;
                    border-radius: 50%;
                    background-color: var(--accent);
                    height: 2rem;
                    width: 2rem;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        height: auto;
                        padding: 0.3rem;
                    }
                }
            }
        }
    }

    .navBot {
        background-color: var(--primary);
        font-family: "Urbanist", sans-serif;
        padding: 0px 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;

        .navBotLogo {
            display: flex;
        }

        .navBotPages {
            display: flex;
            font-size: 1.1rem;
            font-weight: 600;
            gap: 2rem;

            a {
                color: black;
                text-decoration: none;
            }
        }

        .navBotBooking {
            display: flex;
            background-color: blue;
        }
    }
}

.bookingButton {
    
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    background-color: var(--accent);
    font-family: "Urbanist", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    transition-duration: 0.3s;
    cursor: pointer;
}
.bookingButtonHover:hover{
    background-color: var(--secondary);
    color: white;
}

.heroBackground {
    height: 100%;
    margin: auto;
    background-color: var(--secondary-light);
    padding-top: 12rem;
    display: flex;
    justify-content: center;

    .heroContainer {
        display: grid;
        width: 75%;
        grid-template-columns: auto 1fr;
        gap: 6rem;

        .heroText {
            width: 85%;

            p {
                color: var(--primary);
                padding: 0.5rem 0rem;
            }
        }

        .heroImage {
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

.aboutUs {
    height: 100%;
    margin: auto;
    background-color: var(--primary);
    padding-top: 6rem;
    display: flex;
    justify-content: center;

    .aboutUsContainer {
        display: grid;
        grid-template-columns: 1fr auto;
        width: 75%;
        gap: 2rem;

        .aboutUsMedia {
            .aboutUsImage {
                z-index: 1;
                position: relative;
            }

            .aboutUsStatGrid {
                display: grid;
                grid-template-columns: auto auto auto;
                background-color: var(--secondary);
                border-radius: 12px;
                padding: 1rem 2rem;
                width: 90%;
                z-index: 2;
                position: relative;
                top: -2.5rem;
                left: 3%;

                .aboutUsStats {
                    text-align: center;

                    p {
                        color: var(--primary);
                        margin: 0;
                    }
                }
            }
        }

        .aboutUsContent {

            .aboutUsText {

            }

            .aboutUsTileGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
                
                .aboutUsTiles {
                    border: var(--lightgray) 3px solid;
                    border-radius: 12px;
                    padding: 1.5rem 1rem 0rem 1rem;
                }

                .aboutUsTilesHover:hover {
                    border: var(--accent) 3px solid;
                }
            }

            .aboutUsContact {
                display: flex;
                gap: 2rem;
                margin-top: 2rem;
                align-items: center;

                .contactIcon {
                    display: flex;
                    background-color: var(--secondary);
                    border-radius: 50%;
                    padding: 1rem;
                    color: var(--accent);
                    margin-left: 4rem;
                }

                .contactInfo {

                }
            }
        }
    }
}

.partners {
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;

    .partnersContainer {
        width: 75%;
        display: flex;
        justify-content: space-between;

        .partnersLogo {

        }
    }
}